@model IEnumerable<Global_Solution_ADB.Application.ViewModels.LogAlertViewModel>
@{
	ViewData["Title"] = "Lista de Alerta";
}

<h2 class="mt-3">@ViewData["Title"]</h2>

<div class="card mt-3">
	<div class="card-body">
		<table class="table"></table>
	</div>
</div>


