@{
    ViewData["Title"] = "SAMEM";
}

<div class="text-center">
    <h1 class="display-2 mt-3">@ViewData["Title"]</h1>
    <h2 class="display-5">Sistema de Análise e Monitoramento de Eficiência Nuclear</h2>
    <p>Texte</p>

    <a asp-controller="NuclearPlant" asp-action="Index">Click Here</a>
</div>
