﻿<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SAMEN</a>
        <div>
            <a class="btn btn-outline-light" asp-area="" asp-controller="NuclearPlant" asp-action="Index">Usinas</a>
            <a class="btn btn-outline-light" asp-area="" asp-controller="Alert" asp-action="Index">Alertas</a>
            <a class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="About">Sobre</a>
        </div>
    </div>
</nav>
