@using Global_Solution_ADB.Models.Entities
@model Global_Solution_ADB.Application.DTOs.NuclearPlantDTO

@{
    ViewData["Title"] = "Criar Agendamento";
}

<h2 class="mt-3">@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Nome da Usina</label>
        <span class="text-info">"Nome que identifique a usina".</span>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FullCapacity">Capacidade Eletrica Total da Usina</label>
        <span class="text-info">"A capacidade máxima de geração de energia em gigawatts (GW)".</span>
        <input asp-for="FullCapacity" class="form-control" required />
        <span asp-validation-for="FullCapacity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumberOfReactors">Número de Reatores na Usina</label>
        <span class="text-info">"Quantidade de reatores nucleares em operação na usina".</span>
        <input asp-for="NumberOfReactors" class="form-control" required />
        <span asp-validation-for="NumberOfReactors" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Registrar Usina</button>
    </div>
    <a href="@Url.Action("Index", "NuclearPlant")" class="btn btn-secondary mt-3">Voltar para a Lista</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
